.navbar{    color: var(--color-text);
    height: 70px;
    background:rgba(0, 0, 0, 0.8);
    justify-content: space-around;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    position: fixed;}
.menu_burger {
        display: none;
    }
#liens_h{
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: fixed;
    background:rgba(0, 0, 0, 0.8);}
    
.liens_h a {
    text-decoration: none;
    color: var(--color-text) ;
    display: inline-block;
    justify-content: space-around;
    margin: 15px 35px;
}

.liens_h a:hover{
    color: rgba(222, 235, 165, 0.541);
}

@media screen and (max-width: 870px){
    #liens_h {
        display: none;
    }
    #liens_h:target{
        display: flex;
        justify-content: center;
        flex-direction: column;
        position: fixe;
        height: 100%;
        width: 25%;
        background: rgba(0, 0, 0, 0.562);    }
     .nav_liens{
        color: var(--color-text);
        text-align: center;     }    .menu_burger {
        display: block;
        font-size: 35px;    }
    .navbar{
        justify-content: right;
    }
}