#intro {
    width: 90%;
    margin: auto;
    border-bottom-style: solid;
    border-width: 2px;
    border-color: var(--color-titre);
    padding: 15px;
}
.introduction{
    width: 100%;
    align-content: center;
}
#m_main{
    border-style: solid;
    border-color: red;
    width: 100%;
    display: flex;
    justify-items: baseline;
    align-content: space-around;
    flex-wrap: wrap;
}
.m_bloc{
    border-color: var(--color-titre);
    border-style: solid;
    margin: 15px;
    min-width: 250px;

}
