#intro {
    max-width: 950px;
    width: 100%;
    margin: auto;
    border-bottom-style: solid;
    border-width: 2px;
    border-color: var(--color-titre);
    padding: 15px;
    text-align: justify ;
}
.m_introduction{

    width: 100%;
    margin: auto;
    align-content: center;
}
#m_main{
    max-width: 1200px;
    margin: auto;
    width: 95%;
    display: flex;
    flex-wrap: wrap;

}
#m_main ul{
    padding-left: 05px;
    padding-right: 5px;
    align-content: space-between;
}

#m_main li{
    list-style: none;
}
.m_bloc{
    margin: calc(8% / 4);
    width: 100%;
}

.m_bloc1{
    text-align: right;
    border-radius: 3px;
}

/* vignettes */

.m_cont_img{
    text-align: center;
    align-items: center;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.m_ss_titre_vignettes{
    width: 100%;
}
.cadre{
    filter: sepia();
    opacity: 0.7;
}
.cadre img{
    width: 100px;
    height: 100px;
    object-fit: cover;
	object-position: top;
}
.m_vignettes{
    display: flex;
    flex-wrap: wrap;
    align: center;
    justify-content: space-around;
}
#m_main figure{
	width: 120px;
	height: 120px;
}

#m_main figure img{
	border-radius: 2px;
	width: 100%;
	height: 100px;
	object-fit: cover;
	object-position: center;

label {
    padding-right: 10px;
    font-size: 1rem;
}
.poudlard{
    opacity: 0.2;
    filter: invert();
}
.panneau{
    opacity: 0.1;
    filter: invert();
}
.m_formation_container{
    position: relative;
    top: 10%;
    left: 20%; 
    right: 0;
}
@media screen and (max-width: 870px){

    .m_bloc{
        width: 90%;
    }
}