.endofpage{
    position: relative;
    background: url("../images/abc.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    margin:0;
    padding:0;
}
.formulaire{
    display: flex;
    align-self: center;
    align-items: center;
    flex-direction: column;
    padding-top: 90px;
    padding-bottom: 90px;

}

.validform{
    padding: 20px;
    color: var(--color-titre);
    font-weight: bold;
}


#contact{
    text-align: center;
    padding-bottom: 2%;
    margin-bottom: auto;
}

input{
    width: 200px;
}

input[type=search] {
        border: 2px dotted #999;
        -webkit-appearance: none;
}
input, textarea, select, button {
        border-color: var(--color-text);
        width : 150px;
        margin: 0;

        box-sizing: border-box;
        margin:auto;
        font-style: italic;
        text-align: left;
        background: none;


}

input, textarea, select {
    border-style:solid;
    border-top-width:0;
    border-right-width: 0;
    border-left-width: 0;
}
.button{
    align-content: center;
    border-bottom-width: 0;
    margin-bottom: 30px;
}





/*.img_contact{
    height: 26%;
    width: 26%;
    align-items: bottom;
    padding:2% 37% ;
} */




/*.content_footer h2{
    border-bottom: none;
}


 /* .parchemin{
    border-radius: 10%;

}
#contact{
    padding-top: 15px;
    border-bottom: none;
}
/*
@media screen and (max-width: 1450px){
    .formulaire{
        padding-top: 28%;
    }
}

@media screen and (max-width: 1250px){
    .formulaire{
        padding-top: 33%;
    }
}
@media screen and (max-width: 990px){
    .formulaire{
        padding-top: 41%;
    }
}
@media screen and (max-width: 744px){
    .formulaire{
        padding-top: 48%;
    }
    input, textarea{
        width: 35%;
    }
}
@media screen and (max-width:  610px){
    .formulaire{
        padding-top: 56%;
    }
    input, textarea{
        width: 40%;
    }
    .img_contact{
        display: none;
    }

 @media screen and (max-width:  510px){
    .formulaire{
          padding-top: 68%;
     }
    input, textarea{
          width: 50%;
    }
      .img_contact{
          display: none;
      }
    }*/