
.navbar{
    color: var(--color-text);
    height: 60px;
    background: rgba(193, 190, 183, 0.25);
    justify-content: space-around;
    font-size: 18px;
    font-family: 'Playfair Display', serif;
    position: fixed;
    z-index: 3;
    padding: 0;
    margin: 0;
}

.menu_burger {
        display: none;
        color: var(--color-text);
        text-decoration: none;
    }
#liens_h{
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: fixed;
    background: rgba(193, 190, 183, 0.25);}
    
#liens_h a {
    text-decoration: none;
    color: var(--color-text) ;
    display: inline-block;
    justify-content: space-around;
    margin: 13px 23px;
}

#liens_h a:hover{
    color: rgba(31, 28, 25, 0.84);
}

@media screen and (max-width: 870px){
    #liens_h {
        display: none;
    }
    #liens_h:target{
        display: flex;
        justify-content: center;
        flex-direction: column;
        position: fixed;
        height: 100%;
        width: 50%;
        background: rgba(176, 176, 176, 0.56);    }
     .nav_liens{
        color: var(--color-text);
        text-align: center;     }

    .menu_burger {
        display: block;
        font-size: 35px;
        margin: 16px;
    }
    .navbar{
        justify-content: right;
    }
}