@import url('https://fonts.googleapis.com/css?family=Lato|Roboto|Viaoda+Libre&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative|Mountains+of+Christmas|Spectral+SC|UnifrakturMaguntia&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');

/* load WOFF2 font if possible, otherwise WOFF, else use OpenType font */

/*
    font-family: 'Roboto', sans-serif;

    font-family: 'Lato', sans-serif;

    font-family: 'Viaoda Libre', cursive;

    font-family: 'UnifrakturMaguntia', cursive;

    font-family: 'Spectral SC', serif;

    font-family: 'Mountains of Christmas', cursive;

    font-family: 'Cinzel Decorative', cursive;

font-family: 'Playfair Display', serif;
*/


@import 'header_style.css';
@import 'intro_style.css';
@import 'section_2_3_style.css';
@import 'form_style.css';
@import 'footer_style.css';

:root {
	--color-fond-dark:#090d0c;
	--color-name: #776d62;
	--color-titre: #262429;
    --color-text: #5a5a5a;
    --text_content_size:25px;
    --text_content_size_sm:15px;
	--padding-sm: calc(var(--padding) / 2);
	--padding-lg: calc(var(--padding) * 2);
	--padding: 16px;
	--margin-sm: calc(var(--margin) / 2);
	--margin: 50px;
	--margin-lg: calc(var(--margin) * 2);
    --little_screen:870px;
}

html{
	scroll-behavior: smooth;
}

body {
    font-family: 'lato', sans-serif;
    color: var(--color-text);
	font-size: 14pt;
    margin: 0;
    background-image: url('../images/fd4.jpg');
	background-attachment: fixed;
}

h1 {
		color: var(--color-titre);
		opacity: 0.9;
		font-size: 50pt;
		font-family: 'Playfair Display', serif;
		text-transform: uppercase;
}
h2{
	font-family: 'Playfair Display', serif;
	 color: var(--color-text);
	 border-bottom: 5px solid var(--color-name);
	 text-transform: uppercase;
	 width: 100%;
	font-size: 35pt;
	padding-top: 90px;
	margin-bottom: 45px;
    }

h3 {
	font-size: 20pt;


}

#m_main, .m_introduction{
	font-size: var(--text_content_size);
}

@media screen and (max-width: 350px) {
	#m_main, .m_introduction{
		font-size: var(--text_content_size_sm);
	}

	h2{
		font-size: 25pt;
		display: flex;
		text-align: center;
	}
	h3 {
		font-size: 17pt;
	}
}